<h2>Home</h2>
<div class= "jumbotron text-center">
		<h1>PREPARE TO BE INSPIRED<h1>
		<h3>"If you can believe it, the mind can achieve it."</h3>
		<h3>                               -Ronnie Lott   </h3>
</div>
	